[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy = "*"
protobuf = "~=3.20"
urllib3 = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.10"
